.text-center{
    text-align: center;
    margin:auto;
    text-shadow: 100vh;
}
.bg-red{
    
}
.mx-auto{
    margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}